@media (max-width: 1920px) {
  .container {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 1440px) {
  .navbar-brand {
    font-size: 35px;
}
.nav-link {
  font-size: 20px;
  padding: 7px;
  width: 140px;
}
.heroText h1 {
  font-size: 65px;
}
.heroText h3 {
  font-size: 35px;
}
.amText h4 {
  font-size: 60px;
}
.amText p {
  font-size: 18px;
}
.pSection h4 {
  font-size: 50px;
}
.pImg img {
  height: 220px;
}
.pImg {
  height: 220px;
  transform: translateY(50px);
}
.pInfo h5 {
  font-size: 20px;
}
.pLinks a {
  padding: 5px 20px;
}
.pInfo {
  padding: 15px;
  transform: translateY(-120px);
}
.rSection h4 {
  font-size: 50px;
}
.resumeImg img {
  width: 250px;
  height: 300px;
}
.rImgh {
  left: 250px;
}
.rImgs {
  left: 310px;
}
.rdownloadc a {
  padding: 13px 20px;
}
.cInfo h4 {
  font-size: 50px;
}
.cInfo h5 {
  font-size: 25px;
}
.cInfo h6 {
  font-size: 20px;
}
}

@media (max-width: 1199px) {
  .navbar-brand {
    font-size: 30px;
  }
  .nav-link {
    font-size: 18px;
    padding: 5px;
    width: 120px;
  }
  .heroText h1 {
    font-size: 50px;
  }
  .heroText h3 {
    font-size: 30px;
  }
  .amText h4 {
    font-size: 55px;
  }
  .amText p {
    font-size: 17px;
  }
  .pSection h4 {
    font-size: 40px;
  }
  .pImg img {
    height: 190px;
  }
  .pImg {
    height: 190px;
    transform: translateY(50px);
  }
  .pInfo h5 {
    font-size: 20px;
  }
  .pLinks a {
    padding: 5px 20px;
  }
  .pInfo {
    padding: 15px;
    transform: translateY(-120px);
  }
  .rSection h4 {
    font-size: 40px;
  }
  .resumeImg img {
    width: 250px;
    height: 300px;
  }
  .rImgh {
    left: 180px;
  }
  .rImgs {
    left: 240px;
  }
  .rdownloadc a {
    padding: 13px 20px;
  }
  .cInfo h4 {
    font-size: 40px;
  }
  .cInfo h5 {
    font-size: 23px;
  }
  .cInfo h6 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .pInfo h5 {
    font-size: 18px;
  }
  .pImg img {
    height: 170px;
  }
  .pImg {
    height: 170px;
    transform: translateY(50px);
  }
  .rImgh {
    left: 140px;
  }
  .rImgs {
    left: 200px;
  }
}

@media (max-width: 991px) {
  html, body {
    overflow: unset;
  }
  .navbar-nav {
    align-items: center;
    background: rgba(0, 0, 0, .9);
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
  .nav-item {
    margin: 25px 0;
  }
  .pCard {
    display: flex;
    margin-bottom: 40px;
  }
  .pImg {
    transform: translateY(0);
    height: 250px;
  }
  .pImg img {
    height: 250px;
  }
  .pInfo {
    transform: translateY(0);
    padding: 40px;
  }
  .pLinks a {
    padding: 15px 25px;
  }
  .rImgh {
    left: 45%;
    transform: rotate(-5deg) translateX(-50%);
  }
  
  .rImgs {
    left: 55%;
    transform: rotate(2deg) translateX(-50%);
  }
}

@media (max-width: 768px) {
  .amSection {
    position: relative;
  }
  .amText {
    position: relative;
    z-index: 5;
    border-radius: 10px;
    background: rgba(0, 0, 0, .9);
    padding: 20px;
    width: 500px;
    max-width: 100%;
    margin-left: 5%;
  }
  .amImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-size: cover;
  }
  .pImg {
    width: 55%;
  }
  .pInfo {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .pCard {
    flex-direction: column;
  }
  .pImg {
    width: 100%;
  }
  .pInfo {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .amInfo {
    width: 100%;
  }
  .amText {
    margin-left: 0;
  }
  .pInfo {
    padding: 20px;
}
.pImg {
  transform: translateY(0);
  height: unset;
}
.pImg img {
  height: unset;
}
.pInfo h5 {
  white-space: pre-wrap;
}
}